.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: skyblue;
  padding-left: 0px;
  padding-top: 50px;
}

/* 调整默认zoom tool class  */
/* 不会影响 class名字是map-container 元素，反而 会影响lass名字是map-container 元素下的叫ol-zoom的子元素 */
.map-container .ol-zoom {
  top: 10px;
  left: 1400px;

}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f5811b;
  color: white;
}

.left-sider {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #666;
  color: white;
}

.fixed-window {
  position: fixed;
  top: 50px;
  left: 225px;
  width: 225px;
  /* 与左侧边栏相同的宽度 */
  height: calc(100% - 100px);
  /* 与地图容器相同的高度 */
  background-color: #ccc;
  z-index: 999;
  /* 使其位于其他内容上方 */
}

.RouteSearch {
  position: absolute;
  top: 10px;
  /* 调整垂直位置 */
  left: 10px;
  /* 可以根据需要调整水平位置 */
  z-index: 100;
  /* 确保 RouteSearch 组件位于最顶层 */
}

/* 控制折叠框地 状态 */
.accordion-item:last-of-type>.accordion-header .accordion-button {
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
  background-color: #666;
  color: white;

}


/* .ol-control {
  position: absolute !important;
  text-align: right;
  max-height: 300px;
  box-sizing: border-box;

}

.ol-control.layer-switcher {
  bottom: 600px;
  right: 10px;

}

.layer-switcher .panel {
  position: absolute !important;
  list-style: none;

} */


.ol-layerswitcher-image.ol-collapsed .panel {
  display: none;
}

.ol-layerswitcher-image.ol-forceopen .panel {
  display: block;
  clear: both;
}

.ol-layerswitcher-image button {
  float: right;
  display: none;
}

.ol-layerswitcher-image .panel {
  list-style: none;
  padding: 0.25em;
  margin: 0;
  /* overflow: hidden; */
  overflow-y: auto;
  max-height: 250px;
}

.ol-layerswitcher-image .panel ul {
  list-style: none;
  padding: 0 0 0 20px;
  overflow: auto;
}

.ol-layerswitcher-image {
  top: 400px;
}

.ol-overlaycontainer-stopevent {
  width: 3% !important;
}